{% block head %}
<nav class="navbar navbar-expand-lg bg-body-tertiary container">
    <div class="container-fluid">
      <a class="navbar-brand">Energia e Eficiência Energética</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('eficiencia') }}">Eficiência Energética</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('vazamentos') }}">Ar Comprimido</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('qualidade') }}">Qualidade de Energia</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link btn btn-danger" onclick="confirmar()">Resetar Valores</a>
          </li>
        </ul>
        <span>
          <a class="nav-link p-1">Feche o Programa por Este Botão --></a>
        </span>
        <span>
          <a class="nav-link btn btn-danger p-2" onclick="sair()">ENCERRAR</a>
        </span>
      </div>
    </div>
  </nav>
  <hr class="solid">


<script>
  function confirmar(){
    if (confirm('Tem certeza que deseja resetar todos os valores?')){
      window.location.href = "{{ url_for('reset') }}";
    }
  }
  function sair(){
    if (confirm('Tem certeza que deseja encerrar o programa?')){
      window.location.href = "{{ url_for('sair') }}";
    }
  }
</script>
{% endblock %}